 *{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins,sans-serif;

background:#fffafc;

color:#555;

line-height:1.7;

}

header{

padding:70px 20px;

text-align:center;

background:white;

}

header h1{

font-family:'Playfair Display',serif;

font-size:3rem;

color:#d97a96;

margin-bottom:15px;

}

header p{

max-width:600px;

margin:auto;

}

nav{

margin-top:35px;

}

nav a{

text-decoration:none;

color:#777;

margin:15px;

font-weight:500;

transition:.3s;

}

nav a:hover{

color:#d97a96;

}

.hero{

padding:90px 20px;

display:flex;

justify-content:center;

text-align:center;

}

.hero h2{

font-size:2.2rem;

margin-bottom:20px;

color:#444;

}

.hero p{

max-width:600px;

margin:auto;

}

button{

margin-top:30px;

padding:14px 30px;

border:none;

border-radius:40px;

background:#f7bfd0;

color:#555;

font-size:16px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#e89db6;

transform:translateY(-3px);

}

#texto{

margin-top:20px;

font-style:italic;

color:#d97a96;

}

.container{

padding:80px 10%;

}

.container h2{

font-family:'Playfair Display',serif;

color:#d97a96;

margin-bottom:30px;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}

.card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.05);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

ul{

padding-left:20px;

}

li{

margin:15px 0;

}

footer{

background:white;

padding:50px;

text-align:center;

margin-top:60px;

color:#777;

}
